.custom-button {
	align-items: center;
	background-color: var(--gray-button-bg);
	border: var(--gray-button-border);
	border-radius: 2px;
	box-shadow: 2px 2px 3px var(--sub-dark-color);
	color: var(--gray-button-text-color);
	cursor: pointer;
	font-family: var(--main-font-family);
	font-size: var(--normalSize);
	font-weight: 500;
	height: 40px;
	letter-spacing: 0.5px;
	line-height: 40px;
	min-width: 115px;
	outline: none;
	padding: 0 35px;
	text-align: center;
	text-decoration: none;
	width: auto;

	&:hover,
	&.active,
	input:checked + & {
		background-color: var(--gray-button-hover-bg);
		color: var(--whitish-text-color);
		transition: background-color 0.5s;
	}

	&.blue {
		background-color: var(--blue-button-bg);
		color: var(--blue-button-hover-bg);
		border: 1px solid var(--blue-button-hover-bg);

		&:hover,
		&.active,
		input:checked + & {
			background-color: var(--blue-button-hover-bg);
			color: var(--whitish-text-color);
		}
	}

	&.red {
		background-color: var(--red-button-bg);
		border: var(--red-button-border);
		color: var(--red-button-text-color);

		&:hover,
		&.active,
		input:checked + & {
			background-color: var(--red-button-hover-bg);
			color: var(--whitish-text-color);
		}

		&:disabled {
			background-color: transparent;
			color: var(--mid-light-color);
			border-color: var(--mid-light-color);
		}
	}

	&.green {
		background-color: var(--green-button-bg);
		border: var(--green-button-border);
		color: var(--green-button-text-color);

		&:hover,
		&.active,
		input:checked + & {
			background-color: var(--green-button-hover-bg);
			color: var(--whitish-text-color);
		}

		&:disabled {
			background-color: transparent;
			color: var(--mid-light-color);
			border-color: var(--mid-light-color);
		}
	}

	&.lightGray {
		background-color: var(--light-gray-button-bg);
		border: var(--light-gray-button-border);
		color: var(--main-bg-color);

		&:hover,
		input:checked + & {
			background-color: var(--light-gray-button-hover-bg);
			color: var(--light-gray-button-text-color);
		}
	}
}

.buttonsGroup {
	display: flex;
	flex-direction: column;

	.custom-button {
		margin-bottom: 10px;
	}
}
