.messageBoard {
	display: flex;
	flex-wrap: wrap;

	.card {
		background-color: var(--boxes-bg-color);
		border: var(--boxes-border);
		box-shadow: 2px 2px 3px var(--sub-dark-color);
		cursor: pointer;
		margin: 0 var(--smallSize) var(--midSize);
		max-width: 30%;
		padding: var(--boxes-padding);
		text-decoration: none;

		&.priority {
			color: var(--title-color);
			max-width: initial;
			order: -1;
			width: 46%;
		}

		&.suspended {
			background-color: var(--main-dark-color);
			color: var(--mid-light-color);
		}

		&:hover {
			background-color: var(--boxes-hover-bg-color);
			border-color: var(--boxes-bg-color);
			box-shadow: 6px 6px 3px var(--sub-dark-color);
			margin: 0 calc(var(--smallSize) - 16px) var(--midSize);
			max-width: calc(30% + 30px);
			padding: var(--boxes-padding) 35px;
			transition: all 0.3s;

			&.priority {
				padding: var(--boxes-padding);
				margin: 0 var(--smallSize) var(--midSize);
				max-width: calc(45% + 20px);
				width: 46%;
			}
		}
	}
}

@media (max-width: 1000px) {
	.formBox {
		width: 100%;
	}
}

@media (max-width: 400px) {
	.messageBoard .card {
		margin: 0 0 var(--smallSize) 0;
		max-width: initial;
		width: 100%;

		&.priority {
			width: 100%;
		}
	}
}
