.messageBoard {
	display: flex;
	flex-wrap: wrap;
}

.card {
	background-color: var(--boxes-bg-color);
	border: var(--boxes-border);
	padding: var(--boxes-padding);
	margin: 0 0 var(--midSize) var(--midSize);
	max-width: 20%;
	text-decoration: none;

	&.priority {
		color: var(--title-color);
		max-width: initial;
		width: 45%;
		order: -1;
	}
}

@media (max-width: 1000px) {
	.formBox {
		width: 100%;
	}
}

@media (max-width: 400px) {
	.card {
		max-width: initial;
		margin: 0 0 var(--smallSize) 0;
		width: 100%;
		&.priority {
			width: 100%;
		}
	}
}
