.nav {
	display: flex;
	width: 100%;
}

.navItem {
	border-left: 1px solid var(--sub-dark-color);
	line-height: 50px;
	padding: 0 var(--midSize);
	color: var(--text-color);
	text-decoration: none;

	&:hover {
		cursor: pointer;
		color: white;
		background-color: var(--mid-dark-color);
	}

	&:last-child {
		margin: 0 auto 0 0;
	}

	&:nth-last-child(2),
	&:last-child {
		border: 0;
	}

	&.version {
		color: red;
		text-align: center;
		order: 1000;
		border: 0;

		&:hover {
			background-color: var(--main-dark-color);
			cursor: unset;
		}
	}

	&.active {
		background-color: var(--sub-dark-color);
		color: white;
		&:hover {
			background-color: var(--sub-dark-color);
			cursor: unset;
		}
	}

	&.logo {
		background-color: red;
		color: white;
		font-weight: 700;
		letter-spacing: 0.2rem; //???
	}
}

@media (max-width: 1000px) {
	.nav {
		flex-direction: column;
	}

	.tab {
		border-left: 0;
		border-bottom: 1px solid var(--mid-dark-color);
		line-height: initial;
		padding: var(--smallSize) 0;

		&.end {
			margin: 0;
			border: 0;
		}

		&.version {
			margin: 0;
			text-align: right;
		}
	}
}
