.formBox {
	//width: 25vw;

	form {
		display: flex;
		flex-direction: column;
	}

	.title {
		margin: 10px 0;
	}

	.buttons {
		.custom-button {
			width: 100%;
			margin-left: 30px;
		}
	}

	.group {
		display: flex;
	}
}

@media (max-width: 1000px) {
	.formBox {
		width: 100%;
	}
}

@media (max-width: 400px) {
	.formBox .group {
		flex-direction: column;
		.custom-button {
			margin: 0 0 10px;
		}
	}
}
