.messageBox {
	.subTitle {
		font-size: var(--largeSize);

		span {
			font-weight: 700;
		}
	}

	.date {
		font-size: var(--smallSize);
		margin: var(--smallSize) 0 var(--largeSize);
		display: inline-block;
	}

	.content {
		line-height: var(--midSize);
	}

	.adminButtons {
		text-align: left;

		.custom-button {
			margin-right: 10px;
		}
	}
}
