.pageTitle {
	background-color: var(--sub-dark-color);
	box-shadow: 0 4px 5px var(--sub-dark-color);
	font-size: var(--hugeSize);
	font-weight: 500;
	margin-bottom: var(--smallSize);
	padding: var(--smallSize) var(--midSize);
}
