.appWrapper .mainWrapper {
	display: grid;
	grid-template-columns: var(--midSize) auto 20% var(--midSize);
	column-gap: 1%;
	grid-template-rows: auto;
	grid-template-areas: '. main aside .';
	width: 95vw;
	margin: 0 auto;

	&.biggerAside {
		grid-template-columns: var(--midSize) auto 30% var(--midSize);
	}
}

section {
	grid-area: main;
	grid-column-start: 2;
}

aside {
	min-width: 250px;
	grid-area: aside;
	grid-column-start: 3;
}

@media (max-width: 1000px) {
	.appWrapper .mainWrapper {
		display: flex;
		flex-direction: column;
	}
}
