@mixin shrinkLabel {
	top: -17px;
	font-size: 14px;
	color: var(--text-color);
}

.inputSet {
	position: relative;
	margin: 10px 0 0 30px;

	.form-input {
		background: var(--sub-dark-color);
		background-color: var(--sub-dark-color);
		color: var(--link-color);
		font-size: 18px;
		padding: 10px 10px 10px 5px;
		display: block;
		width: 100%;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid var(--link-color);
		margin: 0 0 25px 0;
		direction: ltr;

		&.rtl {
			direction: rtl;
		}

		&:focus {
			outline: none;
			background-color: var(--sub-dark-color);
		}

		&:focus ~ .form-input-label {
			@include shrinkLabel();
		}
	}

	.form-input-textarea {
		border: 1px solid var(--link-color);
		resize: none;
		height: 100px;
		font-family: var(--main-font-family);
	}

	input[type='password'] {
		letter-spacing: 0.3em;
	}

	.form-input-label {
		color: var(--link-color);
		font-size: 16px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		right: 5px;
		top: 10px;
		transition: 300ms ease all;

		&.shrink {
			@include shrinkLabel();
		}
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield; /* Firefox */
	}
}
