.contentBox.red {
	background-color: #380000;

	.inputSet {
		.form-input {
			background: #380000;
			background-color: #380000;
		}
	}

	.custom-button {
		margin-bottom: 10px;
	}
}

.contentBox.green {
	background-color: #0d3800;

	.inputSet {
		.form-input {
			background: #0d3800;
			background-color: #0d3800;
		}
	}

	.custom-button {
		margin-bottom: 10px;
	}
}
