.contentBox.red .inputSet .form-input {
	background-color: var(--pale-red-color-pale);
}

.contentBox.green .inputSet .form-input {
	background-color: var(--pale-green-color-pale);
}
.contentBox.red .custom-button,
.contentBox.green .custom-button {
	margin-bottom: 10px;
}
