.tabs {
	display: flex;

	.tab {
		background-color: var(--main-dark-color);
		bottom: -1px;
		cursor: pointer;
		line-height: 50px;
		padding: 0 var(--midSize);
		position: relative;
		color: var(--link-color);

		&:hover {
			background-color: var(--mid-dark-color);
			color: var(--link-hover-color);
		}

		&.active {
			background-color: var(--boxes-bg-color);
			color: var(--link-color);
		}
	}

	@media (min-width: 1200px) {
		.sidebar & {
			display: none;
		}
	}
}
