.tabs {
	display: flex;

	.tab {
		background-color: var(--main-dark-color);
		border: 1px solid var(--mid-dark-color);
		border-bottom: 0;
		bottom: -1px;
		cursor: pointer;
		line-height: 50px;
		padding: 0 var(--midSize);
		position: relative;
		color: var(--link-color);
		&:hover {
			background-color: var(--mid-dark-color);
			color: var(--link-hover-color);
		}

		&.active {
			background-color: var(--boxes-bg-color);
			color: var(--link-color);
		}
	}
}
